* {
  margin: 0;
  padding: 0;
}

:root {
  --lateralPadding: 13px;
}

.banner {
  background-color: lightgray;
  height: 610px;
  display: flex;
  align-items: center;
}

.turmas-container {
  margin-left: 21%;
  max-width: 377px;
  width: 100%;
  max-height: 100%;
  background-color: white;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.turmas-container .title {
  display: block;
  font-size: 21px;
  margin-bottom: 21px;
  padding: 0 var(--lateralPadding);
}

.turmas-wrap {
  overflow: auto;
}

.turmas-container .turmas {
  list-style: none;
}

.turmas-container .turma {
  text-decoration: none;
  color: black;
  padding: 5px var(--lateralPadding);
  display: block;
  transition: .34s all ease;
  position: relative;
}

.turmas-container .turma.fechada {
  color: gray;
  text-decoration: line-through;
}

.turmas-container .turma:hover:not(.fechada) {
  padding-left: calc(var(--lateralPadding) + 13px);
}

.turmas-container .turma:hover:not(.fechada)::before {
  content: '';
  width: 3px;
  background-color: black;
  display: block;
  position: absolute;
  left: 0;
  height: 1em;
}

@media screen and (max-width: 700px) {
  .banner {
    align-items: flex-start;
  }

  .banner .turmas-container {
    margin: 13px 13px 0;
    max-height: 50%;
  }
}
